**Google classroom code: nxqogyej**




--

# Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

With Pandas, python can be used to load, prepare, manipulate, model and analyze data.

Why the name **Pandas**
* Panel Data
* Python Data Analysis

was created by Wes McKinney in 2008

Wide range use.

Here is a list of things that we can do using Pandas.
* Data set cleaning, merging, and joining.
* Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data.
* Columns can be inserted and deleted from DataFrame and higher dimensional objects.
* Powerful group by functionality for performing split-apply-combine operations on data sets.
* Data Visulaization
* Label-based slicing, indexing, and sub-setting of large data set.
* Ability to deal with Time series data.



```
pip install pandas
```

or

```
conda create -c conda-forge -n name_of_my_env python pandas

source activate name_of_my_env
# On Windows
activate name_of_my_env
```

---
Pandas requires the following dependencies
* NumPy
* python-dateutil
* pytz
* tzdata

---

**Importing Pandas is simple**
```
import pandas as pd
```

# Pandas Data Structures
Pandas generally provide two data structures for manipulating data
* Series
* DataFrame

**Series**

*Panda Series* is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).
> The axis labels are collectively called indexes.
Pandas Series is nothing but a column in an Excel sheet.

> Labels need not be unique but must be a hashable type.

> The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

In [ ]:
import pandas as pd
import numpy as np

data= np.array([10., 20., 30., 40, 50, 60, 70, 80])
print(' np array data : ', data)
print('\n is converted into ')
series = pd.Series()
print('Pandas Series', series)


series = pd.Series(data)
print('\n as Panda Series \n \n', series)

 np array data :  [10. 20. 30. 40. 50. 60. 70. 80.]

 is converted into
Pandas Series Series([], dtype: object)

 as Panda Series

 0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6    70.0
7    80.0
dtype: float64

**DataFrame**

* Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).

* A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

* Pandas DataFrame consists of three principal components, the data, rows, and columns.

---

**Basic features of data frame**
* Columns of different data type
* Size is changeable.
* Data frame has labelled axes for rows and columns
* Arithmetic operations can be performed on rows and columns

**Creating  a data frame**

Pandas DataFrame can be created by using **pandas.DataFrame** function

**pandas.DataFrame(data, index, columns, dtype, copy)**

*data* can be ndarray, series, map, lists, dict, constants, or any other data frame

*index* denotes the row labels for the resulting frame. It is optional argument. If no index is passed, its value will be equal to np.arange(n)

*column* is used for specifying column labels. Optional, By defaults, np.arange(n)

*dtype* specifies the data type of each column

*copy* ise used for copying of data, default is *false*

In [ ]:
print("Creating Empty data frame")
df = pd.DataFrame()
print(df)

Creating Empty data frame
Empty DataFrame
Columns: []
Index: []

In [ ]:
print('Creating Dataframe from a list')
data=[10,20,30,40,50,60,70,80]
df=pd.DataFrame(data)
print(df)

Creating Dataframe from a list
    0
0  10
1  20
2  30
3  40
4  50
5  60
6  70
7  80

In [ ]:
print('Creating Data from a List of list')
data=[1,['SVD',1231,1231,'CDC'], 12, [1212,'iTOP','ARICH',232],123]
print(data)
print('\n After PD DataFrame')
df=pd.DataFrame(data)
print(df)

Creating Data from a List of list
[1, ['SVD', 1231, 1231, 'CDC'], 12, [1212, 'iTOP', 'ARICH', 232], 123]

 After PD DataFrame
                          0
0                         1
1    [SVD, 1231, 1231, CDC]
2                        12
3  [1212, iTOP, ARICH, 232]
4                       123

#Creating data frame from dictionary

One can also create a data frame from a dictionary of containing ndarrays or lists.

When doing so, please be careful such that all the ndarrays must be of same length.

If index is passed, then the length of index should be equal to the length of the arrays.
* In case, no index is passed, then index is *range(n)*

---
* **data_frame_object['column_name']** : Access column of the data frame
* **data_frame_object['key'] =value** : Add a column to the data frame
* **del data_frame_object['column_name']** : delete column from the data frame
* **data_frame_object.pop['key']** : delete column from the data frame
* **data_frame_object.loc['row-name']** : Access a group of row and column of the data frame
* **data_frame_object.iloc[row-number]** : Access a particular row from the data frame
* **data_frame_object.iloc[starting-row-number:ending-row-number]** : Access multiple rows from a data frame.

*To add new rows at the end of a data frame, use the **append()** function*

*To delete  or drop rows from a data frame, the **drop()** method is used.*
* If label is dupliacted, then multiple rows will be dropped

In [ ]:
# create data frame storing names and grade of students using list of lists

data= [[ 'A', 89],['B',98], ['C',78],['D',71]]
df = pd.DataFrame(data, columns=['Name','Grades'])
print(df)

  Name  Grades
0    A      89
1    B      98
2    C      78
3    D      71

From Dictionary, please take care of the brackets, they have to be curly

In [ ]:
#Create data from dictionary of ndarrays and Lists
data= {'Name':['A','B', 'C', 'D', 'E'], 'Marks':[89,98,97,95,96] } # take care of the brackets, it has to be curly
df=pd.DataFrame(data)
print(df)

  Name  Marks
0    A     89
1    B     98
2    C     97
3    D     95
4    E     96

In [ ]:
# Creates data frame from list of dictionary
data=[{'Name':'A', 'Marks':89}, {'Name':'B', 'Marks':81}, {'Name':'C', 'Marks':91},
 {'Name':'D', 'Marks':79}, {'Name':'E', 'Marks':82}, {'Name':'F', 'Marks':84}]
df=pd.DataFrame(data, index=['student 1', 'student 2', 'students3', 'student4','student5', 'student6'])
print(df)

          Name  Marks
student 1    A     89
student 2    B     81
students3    C     91
student4     D     79
student5     E     82
student6     F     84

In [ ]:
# Create dataframe from dictionary of Series
data= { 'A': pd.Series([90,89,78,90,81], index =['S1','S2','S3','S4','S5']),
       'B': pd.Series([78,87,73,96,85], index =['S1','S2','S3','S4','S5']),
        'C': pd.Series([91,85,70,97,84], index =['S1','S2','S3','S4','S5']) }
df=pd.DataFrame(data)
print(df)

     A   B   C
S1  90  78  91
S2  89  87  85
S3  78  73  70
S4  90  96  97
S5  81  85  84

**Select a particular column from the above data Frame**

In [ ]:
name = input('Enter the name you want to select : ')
print('Please find the grades of ', name, 'as below')
print(df[name])

Enter the name you want to select : B
Please find the grades of  B as below
S1    78
S2    87
S3    73
S4    96
S5    85
Name: B, dtype: int64

**Add a new column also**

In [ ]:
# Add a new column for  D and E
df['D'] = pd.Series([89,91,93,94], index=['S2','S1','S3','S4']) # take care of the labels itself
print(df)

     A   B   C     D
S1  90  78  91  91.0
S2  89  87  85  89.0
S3  78  73  70  93.0
S4  90  96  97  94.0
S5  81  85  84   NaN

Where the data is missed, it add NaN itself. It take care of the missing data automatically

In [ ]:
df['E'] =pd.Series([81,82,83,84,85,86], index=['S1','S2','S3','S4','S5','S6'])# Note here the entries
print(df)

     A   B   C     D   E
S1  90  78  91  91.0  81
S2  89  87  85  89.0  82
S3  78  73  70  93.0  83
S4  90  96  97  94.0  84
S5  81  85  84   NaN  85

In [ ]:
df['F'] =pd.Series([91,92,99,94,85,86], index=['S6','S5','S4','S3','S2','S1'])# Note here the entries
print(df)

     A   B   C     D   E   F
S1  90  78  91  91.0  81  86
S2  89  87  85  89.0  82  85
S3  78  73  70  93.0  83  94
S4  90  96  97  94.0  84  99
S5  81  85  84   NaN  85  92

Pandas automatically matches the index for us.

Thank you Pandas for making this coding world  cute, better and easier place for all of us.

We don't have to worry about the order in which the data is to be added.

**Deleting a column from a data frame**

In [ ]:
del df['D']
print(df)

     A   B   C   E   F
S1  90  78  91  81  86
S2  89  87  85  82  85
S3  78  73  70  83  94
S4  90  96  97  84  99
S5  81  85  84  85  92

In [ ]:
df['D'] = pd.Series([89,91,93,94], index=['S2','S1','S3','S4']) # take care of the labels itself
print(df)
print('\n Lets delete D again using pop\n')
df.pop('D')
print(df)

     A   B   C   E   F     D
S1  90  78  91  81  86  91.0
S2  89  87  85  82  85  89.0
S3  78  73  70  83  94  93.0
S4  90  96  97  84  99  94.0
S5  81  85  84  85  92   NaN

 Lets delete D again using pop

     A   B   C   E   F
S1  90  78  91  81  86
S2  89  87  85  82  85
S3  78  73  70  83  94
S4  90  96  97  84  99
S5  81  85  84  85  92

**Select a row(s) from a data frame**

In [ ]:

print(df)

print('\n Select S4 row')
print(df.loc['S4'])
print('\n Select S5 row using the id')
print(df.iloc[4])

     A   B   C   E   F
S1  90  78  91  81  86
S2  89  87  85  82  85
S3  78  73  70  83  94
S4  90  96  97  84  99
S5  81  85  84  85  92

 Select S4 row
A    90
B    96
C    97
E    84
F    99
Name: S4, dtype: int64

 Select S5 row using the id
A    81
B    85
C    84
E    85
F    92
Name: S5, dtype: int64

In [ ]:
print(df)
print('\n Select the Subjects 2:4 \n')
print(df[2:4])# it ignores the last. Please be aware of it.

     A   B   C   E   F
S1  90  78  91  81  86
S2  89  87  85  82  85
S3  78  73  70  83  94
S4  90  96  97  84  99
S5  81  85  84  85  92

 Select the Subjects 2:4

     A   B   C   E   F
S3  78  73  70  83  94
S4  90  96  97  84  99

In [ ]:
print(df)
print('\n Select the Subjects 3:7 \n')
print(df[2:7])# it ignores the last. Please be aware of it.

     A   B   C   E   F
S1  90  78  91  81  86
S2  89  87  85  82  85
S3  78  73  70  83  94
S4  90  96  97  84  99
S5  81  85  84  85  92

 Select the Subjects 3:7

     A   B   C   E   F
S3  78  73  70  83  94
S4  90  96  97  84  99
S5  81  85  84  85  92

In [ ]:
print(df)
print('\n Select the Subjects -1:2 \n')
print(df[-1:2])

     A   B   C   E   F
S1  90  78  91  81  86
S2  89  87  85  82  85
S3  78  73  70  83  94
S4  90  96  97  84  99
S5  81  85  84  85  92

 Select the Subjects -1:2

Empty DataFrame
Columns: [A, B, C, E, F]
Index: []

In [ ]:
print(df)
print('\n Select the Subjects -1:5 \n')
print(df[-1:5])

     A   B   C   E   F
S1  90  78  91  81  86
S2  89  87  85  82  85
S3  78  73  70  83  94
S4  90  96  97  84  99
S5  81  85  84  85  92

 Select the Subjects -1:5

     A   B   C   E   F
S5  81  85  84  85  92

**Now add the new rows to the data frame (Subjects in this case)**

[concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

In [ ]:
df1 = pd.DataFrame([[91,92,99,87]], columns= ['A','B','C','F'], index=['S7'])
print(df1)
print("We will now add it")
df = pd.concat([df,df1])#, ignore_index=True) # Try this one.
#df=df.append(df1) # Now removed after pandas 2.0 onwards
print(df)

     A   B   C   F
S7  91  92  99  87
We will now add it
     A   B   C     E   F
S1  90  78  91  81.0  86
S2  89  87  85  82.0  85
S3  78  73  70  83.0  94
S4  90  96  97  84.0  99
S5  81  85  84  85.0  92
S7  91  92  99   NaN  87

**Now delete the last row added**

In [ ]:
df = df.drop('S7')
print(df)

     A   B   C     E   F
S1  90  78  91  81.0  86
S2  89  87  85  82.0  85
S3  78  73  70  83.0  94
S4  90  96  97  84.0  99
S5  81  85  84  85.0  92

Pandas DataFrame has a number of column helper functions, which can be used for extracting valuable information from the column, some are

**Unique()** : provides unique elements from a column by removing duplicates

**Mean()** : returns mean value of all the items in the column

**head()** : return the first n rows, if n is not passed then, first five rows are displayed

**tails()** : return the last n rows, if n is not passed then, last five rows are displayed

**ndim**  returns the number of dimensions of the data frame onject

**shape** returns tupe representing the dimensionality of the DataFrame.
* *Tuple(a,b), where a represents the number of rows and b represents the number of columns*
**Size** retuns nuber of elements in the DataFrame.

**Values** return the data values stored in the data from object as an NDarray

In [ ]:
df1 = pd.DataFrame([[91,92,99,87]], columns= ['A','B','C','F'], index=['S6'])
df=pd.concat([df,df1])
df1 = pd.DataFrame([[11,22,19,37]], columns= ['A','B','C','F'], index=['S8'])
#df=pd.concat([df,df1])
df2 = pd.DataFrame([[3,3,14,35]], columns= ['A','B','C','F'], index=['S7'])
df=pd.concat([df,df1,df2])

print(df)

     A   B   C     E   F
S1  90  78  91  81.0  86
S2  89  87  85  82.0  85
S3  78  73  70  83.0  94
S4  90  96  97  84.0  99
S5  81  85  84  85.0  92
S6  91  92  99   NaN  87
S8  11  22  19   NaN  37
S7   3   3  14   NaN  35

In [ ]:
print(df.E.unique())

[81. 82. 83. 84. 85. nan]

In [ ]:
print(df.D.unique())

AttributeError: 'DataFrame' object has no attribute 'D'

In [ ]:
print("Mean Marks in A: %.2f"%df.A.mean() )
print("Mean Marks in D: %.2f"%df.D.mean() )

Mean Marks in A: 66.62

AttributeError: 'DataFrame' object has no attribute 'D'

In [ ]:
print(df.head(2))

     A   B   C     E   F
S1  90  78  91  81.0  86
S2  89  87  85  82.0  85

In [ ]:
print(df.tail(2))

     A   B   C   E   F
S8  11  22  19 NaN  37
S7   3   3  14 NaN  35

In [ ]:
print(df)
print('\n Lets see df tast two rows \n')
print(df.tail(2))

dft= df.T
print('\n Let see now dft which is transpose')
print(dft)

print('\n Lets see dft last two rows \n')
print(dft.tail(2))

     A   B   C     E   F
S1  90  78  91  81.0  86
S2  89  87  85  82.0  85
S3  78  73  70  83.0  94
S4  90  96  97  84.0  99
S5  81  85  84  85.0  92
S6  91  92  99   NaN  87
S8  11  22  19   NaN  37
S7   3   3  14   NaN  35

 Lets see df tast two rows

     A   B   C   E   F
S8  11  22  19 NaN  37
S7   3   3  14 NaN  35

 Let see now dft which is transpose
     S1    S2    S3    S4    S5    S6    S8    S7
A  90.0  89.0  78.0  90.0  81.0  91.0  11.0   3.0
B  78.0  87.0  73.0  96.0  85.0  92.0  22.0   3.0
C  91.0  85.0  70.0  97.0  84.0  99.0  19.0  14.0
E  81.0  82.0  83.0  84.0  85.0   NaN   NaN   NaN
F  86.0  85.0  94.0  99.0  92.0  87.0  37.0  35.0

 Lets see dft last two rows

     S1    S2    S3    S4    S5    S6    S8    S7
E  81.0  82.0  83.0  84.0  85.0   NaN   NaN   NaN
F  86.0  85.0  94.0  99.0  92.0  87.0  37.0  35.0

In [ ]:
print("print df axes\n", df.axes)
print("\n\nprint dft axes\n", dft.axes)

print df axes
 [Index(['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S8', 'S7'], dtype='object'), Index(['A', 'B', 'C', 'E', 'F'], dtype='object')]


print dft axes
 [Index(['A', 'B', 'C', 'E', 'F'], dtype='object'), Index(['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S8', 'S7'], dtype='object')]

In [ ]:
print("Is the data object empty ", df.empty)

Is the data object empty  False

In [ ]:
print("Number of Dimensions ", df.ndim)

Number of Dimensions  2

In [ ]:
print("Shape of Data Frame object df is:", df.shape)
print(df)
print( "--"*20)
print("Shape of Data Frame object dft is:", dft.shape)
print(dft)

Shape of Data Frame object df is: (8, 5)
     A   B   C     E   F
S1  90  78  91  81.0  86
S2  89  87  85  82.0  85
S3  78  73  70  83.0  94
S4  90  96  97  84.0  99
S5  81  85  84  85.0  92
S6  91  92  99   NaN  87
S8  11  22  19   NaN  37
S7   3   3  14   NaN  35
----------------------------------------
Shape of Data Frame object dft is: (5, 8)
     S1    S2    S3    S4    S5    S6    S8    S7
A  90.0  89.0  78.0  90.0  81.0  91.0  11.0   3.0
B  78.0  87.0  73.0  96.0  85.0  92.0  22.0   3.0
C  91.0  85.0  70.0  97.0  84.0  99.0  19.0  14.0
E  81.0  82.0  83.0  84.0  85.0   NaN   NaN   NaN
F  86.0  85.0  94.0  99.0  92.0  87.0  37.0  35.0

In [ ]:

print("Number of elements df is:", df.size)
print("Number of elements dft is:", dft.size)

Number of elements df is: 40
Number of elements dft is: 40

In [ ]:
print("Data Values in Data Frame  df are: \n", df.values)
print("\n\nData Values in Data Frame  dft are:\n", dft.values)

Data Values in Data Frame  df are:
 [[90. 78. 91. 81. 86.]
 [89. 87. 85. 82. 85.]
 [78. 73. 70. 83. 94.]
 [90. 96. 97. 84. 99.]
 [81. 85. 84. 85. 92.]
 [91. 92. 99. nan 87.]
 [11. 22. 19. nan 37.]
 [ 3.  3. 14. nan 35.]]


Data Values in Data Frame  dft are:
 [[90. 89. 78. 90. 81. 91. 11.  3.]
 [78. 87. 73. 96. 85. 92. 22.  3.]
 [91. 85. 70. 97. 84. 99. 19. 14.]
 [81. 82. 83. 84. 85. nan nan nan]
 [86. 85. 94. 99. 92. 87. 37. 35.]]

Pivoting data frame
--
The **pivot()** function is used to reshape a given DataFrame object organized by given index/column values

**DataFrame.pivot(self, index=None, columns=None, values=None)**

where

*index*, specifies column that will be used to make new frame's index. If no column is specified, existing index is used.

*columns* specify columns that will be used to make new frame's columns.

*values* specify column(s)to be used for populating new frame's values. if nothing is specified, all remaining columns will be used.

**pivot()** returns a reshaped DataFrame.

ValueError will be raised of there are any duplicate values in the data frame

Pivot is basically a reshape operation - it takes ones long/tidy data and turn into a wide table.

It does three things:

> Pick a column to become new row index (unique lables for the left-hand side of your table.)

> Pick a column whose unique values new columns (spreads these values across the top as headers.)

>  Pick a column whose values fill the cells (the data that will go into the table body.)

It does not aggregate. It just rearranges the data.

This means there must be exactly one row for each (index, column) pair â€” no duplicates.

If duplicates exist, you get a ValueError and must use pivot_table instead.

In [ ]:
import pandas as pd

data = pd.DataFrame({
    "Name": [
        "Captain Vyom", "Captain Vyom",
        "Captain Blaze", "Captain Blaze",
        "Captain Cyborg", "Captain Cyborg",
        "Captain Maya", "Captain Maya",
        "Captain Chaya", "Captain Chaya"
    ],
    "Attribute": [
        "Age", "Power",
        "Age", "Power",
        "Age", "Power",
        "Age", "Power",
        "Age", "Power"
    ],
    "Value": [
        27, "Telepathy",
        35, "Fire Control",
        40, "Cybernetic Strength",
        30, "Illusion Casting",
        28, "Shadow Manipulation"
    ],
    "Role": [
        "Leader", "Leader",
        "Pilot", "Pilot",
        "Tactician", "Tactician",
        "Strategist", "Strategist",
        "Infiltrator", "Infiltrator"
    ],
    "Actor": [
        "Milind Soman", "Milind Soman",
        "Vinod", "Vinod",
        "Rajat", "Rajat",
        "Priya", "Priya",
        "Anita", "Anita"
    ]
})

data

             Name Attribute                Value         Role         Actor
0    Captain Vyom       Age                   27       Leader  Milind Soman
1    Captain Vyom     Power            Telepathy       Leader  Milind Soman
2   Captain Blaze       Age                   35        Pilot         Vinod
3   Captain Blaze     Power         Fire Control        Pilot         Vinod
4  Captain Cyborg       Age                   40    Tactician         Rajat
5  Captain Cyborg     Power  Cybernetic Strength    Tactician         Rajat
6    Captain Maya       Age                   30   Strategist         Priya
7    Captain Maya     Power     Illusion Casting   Strategist         Priya
8   Captain Chaya       Age                   28  Infiltrator         Anita
9   Captain Chaya     Power  Shadow Manipulation  Infiltrator         Anita

In [ ]:
pivoted = data.pivot(index=["Name", "Role", "Actor"], columns="Attribute", values="Value")
#pivoted = pivoted.reset_index()   optional: bring index back as columns
pivoted

Attribute                               Age                Power
Name           Role        Actor
Captain Blaze  Pilot       Vinod         35         Fire Control
Captain Chaya  Infiltrator Anita         28  Shadow Manipulation
Captain Cyborg Tactician   Rajat         40  Cybernetic Strength
Captain Maya   Strategist  Priya         30     Illusion Casting
Captain Vyom   Leader      Milind Soman  27            Telepathy

In [ ]:
pivoted = pivoted.reset_index()   #optional: bring index back as columns
pivoted

Attribute            Name         Role         Actor Age                Power
0           Captain Blaze        Pilot         Vinod  35         Fire Control
1           Captain Chaya  Infiltrator         Anita  28  Shadow Manipulation
2          Captain Cyborg    Tactician         Rajat  40  Cybernetic Strength
3            Captain Maya   Strategist         Priya  30     Illusion Casting
4            Captain Vyom       Leader  Milind Soman  27            Telepathy

We can a twist with pivot_table so one can see how it works if two Captains share the same name or role and we need to aggregate data

 We add twist using Captain Vyom + Maya + Chaya (and friends). we'll introduce duplicate Ages (conflicting sources), which breaks pivot, then fix it with pivot_table.

In [ ]:
data = pd.DataFrame({
    "Name": [
        "Captain Vyom","Captain Vyom","Captain Vyom",   # <-- Age duplicated (27 & 28)
        "Captain Blaze","Captain Blaze",
        "Captain Cyborg","Captain Cyborg",
        "Captain Maya","Captain Maya","Captain Maya",   # <-- Age duplicated (30 & 31)
        "Captain Chaya","Captain Chaya"
    ],
    "Attribute": [
        "Age","Age","Power",
        "Age","Power",
        "Age","Power",
        "Age","Age","Power",
        "Age","Power"
    ],
    "Value": [
        27, 28, "Telepathy",
        35, "Fire Control",
        40, "Cybernetic Strength",
        30, 31, "Illusion Casting",
        28, "Shadow Manipulation"
    ],
    "Role": [
        "Leader","Leader","Leader",
        "Pilot","Pilot",
        "Tactician","Tactician",
        "Strategist","Strategist","Strategist",
        "Infiltrator","Infiltrator"
    ],
    "Actor": [
        "Milind Soman","Milind Soman","Milind Soman",
        "Vinod","Vinod",
        "Rajat","Rajat",
        "Priya","Priya","Priya",
        "Anita","Anita"
    ]
})

data

              Name Attribute                Value         Role         Actor
0     Captain Vyom       Age                   27       Leader  Milind Soman
1     Captain Vyom       Age                   28       Leader  Milind Soman
2     Captain Vyom     Power            Telepathy       Leader  Milind Soman
3    Captain Blaze       Age                   35        Pilot         Vinod
4    Captain Blaze     Power         Fire Control        Pilot         Vinod
5   Captain Cyborg       Age                   40    Tactician         Rajat
6   Captain Cyborg     Power  Cybernetic Strength    Tactician         Rajat
7     Captain Maya       Age                   30   Strategist         Priya
8     Captain Maya       Age                   31   Strategist         Priya
9     Captain Maya     Power     Illusion Casting   Strategist         Priya
10   Captain Chaya       Age                   28  Infiltrator         Anita
11   Captain Chaya     Power  Shadow Manipulation  Infiltrator         Anita

In [ ]:
# 1) Show why plain pivot breaks
data.pivot(index=["Name","Role","Actor"], columns="Attribute", values="Value")
#  ValueError: Index contains duplicate entries (because Age repeats for Vyom & Maya)

ValueError: Index contains duplicate entries, cannot reshape

For each Name (row) and Attribute (column), it expects exactly one value from Value

If there's more than one, Pandas doesn't know whether to take the first, the last, the mean, or something else â€” so instead of guessing, it raises:

In [ ]:
# 2) Use pivot_table to AGGREGATE duplicates
# Strategy:
#   - For Age (numeric duplicates): take the mean
#   - For Power (strings, single per character): just take the first

pt_age = pd.pivot_table(
    data.query("Attribute == 'Age'"),
    index=["Name","Role","Actor"],
    columns="Attribute",
    values="Value",
    aggfunc="mean"         # averages duplicate Ages
)

pt_power = pd.pivot_table(
    data.query("Attribute == 'Power'"),
    index=["Name","Role","Actor"],
    columns="Attribute",
    values="Value",
    aggfunc="first"        # grabs the single Power value
)

final = pt_age.join(pt_power, how="outer").reset_index()
final

Attribute,Name,Role,Actor,Age,Power
0,Captain Blaze,Pilot,Vinod,35.0,Fire Control
1,Captain Chaya,Infiltrator,Anita,28.0,Shadow Manipulation
2,Captain Cyborg,Tactician,Rajat,40.0,Cybernetic Strength
3,Captain Maya,Strategist,Priya,30.5,Illusion Casting
4,Captain Vyom,Leader,Milind Soman,27.5,Telepathy

Sorting
--
One can sort data either in ascending or descending order.

Both numberica and text data can be sorted in a particular oder.
* Pandas  **sort_values()** function sorts a data frame in ascending or descending order of passed column

**DataFrame.sort_Values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')**


* **by str or list of str**
Name or list of names to sort by.
  * if axis is 0 or â€˜indexâ€™ then by may contain index levels and/or column labels.
  * if axis is 1 or â€˜columnsâ€™ then by may contain column levels and/or index labels.

* **axis : {0 or â€˜indexâ€™, 1 or â€˜columnsâ€™}, default 0**
  * Axis to be sorted.

* **ascending :bool or list of bool, default True**
  *  Sort ascending vs. descending. Specify list for multiple sort orders. If this is a list of bools, must match the length of the by.

* **inplace : bool, default False**
  * If True, perform operation in-place.

* **kind :{â€˜quicksortâ€™, â€˜mergesortâ€™, â€˜heapsortâ€™, â€˜stableâ€™}, default â€˜quicksortâ€™**
  * Choice of sorting algorithm. See also numpy.sort() for more information. mergesort and stable are the only stable algorithms. For DataFrames, this option is only applied when sorting on a single column or label.
    
    
* **na_position : {â€˜firstâ€™, â€˜lastâ€™}, default â€˜lastâ€™**
  * Puts NaNs at the beginning if first; last puts NaNs at the end

In [ ]:
Cars= {'Brand': ['BMW M50', 'Tesla Model 3', 'BMW M3 Series', 'Mercedes G500', 'Mercedes E200', 'Jaguar'], 'Price':[ 50000, 80000, 70000, 45000, 80000, 55000], 'Year' : [2019, 2022, 2018, 2020, 2023, 2021]}
df_car= pd.DataFrame(Cars, columns=['Brand', 'Price','Year'] )
print(df_car)

print(' \n\n Now, I will sort by price \n')
df_car.sort_values(by='Price', inplace=True, ascending=False)
print(df_car)

print(' \n\n Now, I will sort by Name \n')
df_car.sort_values(by='Brand', inplace=True, ascending=False)
print(df_car)

print(' \n\n Now, I will sort by price let me make inplace=FALSE \n')
df_car_2 =df_car.sort_values(by='Price', inplace=False, ascending=False)
print('\n the original has not changed \n')
print(df_car)
print('\n sorted \n')
print(df_car_2)

           Brand  Price  Year
0        BMW M50  50000  2019
1  Tesla Model 3  80000  2022
2  BMW M3 Series  70000  2018
3  Mercedes G500  45000  2020
4  Mercedes E200  80000  2023
5         Jaguar  55000  2021


 Now, I will sort by price

           Brand  Price  Year
1  Tesla Model 3  80000  2022
4  Mercedes E200  80000  2023
2  BMW M3 Series  70000  2018
5         Jaguar  55000  2021
0        BMW M50  50000  2019
3  Mercedes G500  45000  2020


 Now, I will sort by Name

           Brand  Price  Year
1  Tesla Model 3  80000  2022
3  Mercedes G500  45000  2020
4  Mercedes E200  80000  2023
5         Jaguar  55000  2021
0        BMW M50  50000  2019
2  BMW M3 Series  70000  2018


 Now, I will sort by price let me make inplace=FALSE


 the original has not changed

           Brand  Price  Year
1  Tesla Model 3  80000  2022
3  Mercedes G500  45000  2020
4  Mercedes E200  80000  2023
5         Jaguar  55000  2021
0        BMW M50  50000  2019
2  BMW M3 Series  70000  2018

 sorted

           Brand  Price  Year
1  Tesla Model 3  80000  2022
4  Mercedes E200  80000  2023
2  BMW M3 Series  70000  2018
5         Jaguar  55000  2021
0        BMW M50  50000  2019
3  Mercedes G500  45000  2020

We can also sort a data frame by several columns together.
--

**df.sort_values(by=['First Column', 'Second Column', .., inplace=..)**

Here we can sort by both the *Year* and the *Price*. Here *Year* will take priority over the *Price*

In [ ]:
df_car.sort_values(by=['Year','Price'], inplace=True)
print(' Sorted by Year >> Price \n')
print(df_car)

 Sorted by Year >> Price

           Brand  Price  Year
2  BMW M3 Series  70000  2018
0        BMW M50  50000  2019
3  Mercedes G500  45000  2020
5         Jaguar  55000  2021
1  Tesla Model 3  80000  2022
4  Mercedes E200  80000  2023

Sorting by labels
--

**sort_index()** sorts a data frame by its row index.

**DataFrame.sort_index(*, axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, ignore_index=False, key=None)**

* **axis : { 0 or â€˜indexâ€™, 1 or â€˜columnsâ€™}, default 0**

In [ ]:
df_car3=df_car.sort_index()
print(df_car3)
print('\n\nLet see the original data fame \n')
print(df_car)

           Brand  Price  Year
0        BMW M50  50000  2019
1  Tesla Model 3  80000  2022
2  BMW M3 Series  70000  2018
3  Mercedes G500  45000  2020
4  Mercedes E200  80000  2023
5         Jaguar  55000  2021


Let see the original data fame

           Brand  Price  Year
2  BMW M3 Series  70000  2018
0        BMW M50  50000  2019
3  Mercedes G500  45000  2020
5         Jaguar  55000  2021
1  Tesla Model 3  80000  2022
4  Mercedes E200  80000  2023

---

Missing data
--
Many times, in the collected data, one find that some entries are left blank.

With missing data, ML models looses their prediciton accuracy.

**Handling missing values before application of any data analystics is a
crucial step**


---
---

**fill_value**
When working with series and DataDrame, one can use  arithmetic functions to input a **fill_value** that can be used to substitute missing values.

If one data frame has a NaN at a particular location and a non-NAN value at the corresponding location in other data drame, then it is better to replace NaN.

**Fill existing missing (NaN) values, and any new element needed for successful DataFrame alignment, with this value before computation. If data in both corresponding DataFrame locations is missing the result will be missing.**

In [ ]:
df1 = pd.DataFrame({'one':pd.Series([1,2,3,4,5], index=['a','b','c','d','e']), 'two':pd.Series([6,7,8,9,10],index=['a','b','c','d','e']), 'three':pd.Series( [11,12,13,14,15],index=['a','b','c','d','e']) })
print(' Data frame 1 \n', df1)
df2 = pd.DataFrame({'one':pd.Series([1,2,3], index=['a','b','c']), 'two':pd.Series([4,5,6,7],index=['a','b','c','d']), 'three':pd.Series( [8,9,10,12],index=['a','b','c','e']) })
print(' Data frame 2 \n', df2)

print(" \n\nAdding Data Frame with missing values")
print(df1.add(df2))

print(" \n\n Adding Data Frame with missing values")

print(df1.add(df2, fill_value=987656789))

 Data frame 1
    one  two  three
a    1    6     11
b    2    7     12
c    3    8     13
d    4    9     14
e    5   10     15
 Data frame 2
    one  two  three
a  1.0  4.0    8.0
b  2.0  5.0    9.0
c  3.0  6.0   10.0
d  NaN  7.0    NaN
e  NaN  NaN   12.0


Adding Data Frame with missing values
   one   two  three
a  2.0  10.0   19.0
b  4.0  12.0   21.0
c  6.0  14.0   23.0
d  NaN  16.0    NaN
e  NaN   NaN   27.0


 Adding Data Frame with missing values
           one          two        three
a          2.0         10.0         19.0
b          4.0         12.0         21.0
c          6.0         14.0         23.0
d  987656793.0         16.0  987656803.0
e  987656794.0  987656799.0         27.0

In [ ]:
df1 = pd.DataFrame({'one':pd.Series([1,2,3,4,5], index=['a','b','c','d','e']), 'two':pd.Series([6,7,8,9,10],index=['a','b','c','d','e']), 'three':pd.Series( [11,12,13,14,15],index=['a','b','c','d','e']) })
print(' Data frame 1 \n', df1)
df2 = pd.DataFrame({'one':pd.Series([1,2,3], index=['a','b','c']), 'two':pd.Series([4,5,6,7],index=['a','b','c','d']), 'three':pd.Series( [8,9,10,12],index=['a','b','c','e']) })
print(' Data frame 2 \n', df2)

print(" \n\nAdding Data Frame with missing values")
print(df1.add(df2))

df3_fill=df1.add(df2)
print(" \n\n Adding Data Frame with missing values")

print(df3_fill)

df3= df3_fill.fillna(987656789).astype("int64")
print(df3)

 Data frame 1
    one  two  three
a    1    6     11
b    2    7     12
c    3    8     13
d    4    9     14
e    5   10     15
 Data frame 2
    one  two  three
a  1.0  4.0    8.0
b  2.0  5.0    9.0
c  3.0  6.0   10.0
d  NaN  7.0    NaN
e  NaN  NaN   12.0


Adding Data Frame with missing values
   one   two  three
a  2.0  10.0   19.0
b  4.0  12.0   21.0
c  6.0  14.0   23.0
d  NaN  16.0    NaN
e  NaN   NaN   27.0


 Adding Data Frame with missing values
   one   two  three
a  2.0  10.0   19.0
b  4.0  12.0   21.0
c  6.0  14.0   23.0
d  NaN  16.0    NaN
e  NaN   NaN   27.0
         one        two      three
a          2         10         19
b          4         12         21
c          6         14         23
d  987656789         16  987656789
e  987656789  987656789         27

**Replacing the missing values**
One can fill missing values in a data frame by passing a value to the keyword *fill_value* argument of the **reindex()** function.
> This keyword replaces the NaN values

In [ ]:

# Creating the dataframe
df1 = pd.DataFrame({"A":[1, 5, 3, 4, 2],
                    "B":[3, 2, 4, 3, 4],
                    "C":[2, 2, 7, 3, 4],
                    "D":[4, 3, 6, 12, 7]})

# reindexing the column axis with
# old and new index values
df1.reindex(columns =["A", "B", "D", "E"], fill_value=100)

   A  B   D    E
0  1  3   4  100
1  5  2   3  100
2  3  4   6  100
3  4  3  12  100
4  2  4   7  100

In [ ]:
df = pd.DataFrame({"A":[1, 5, 3, 4, 2],
                   "B":[3, 2, 4, 3, 4],
                   "C":[2, 2, 7, 3, 4],
                   "D":[4, 3, 6, 12, 7]},
                   index =["r1", "r2", "r3", "r4", "r5"])
print(df)
df2=df.reindex(["r1", "rr2", "rr3", "r4", "r5"])
print('\n df2=df.reindex(["r1", "rr2", "rr3", "r4", "r5"]) \n')
print(df2)

df3=df.reindex(["r1", "rr2", "rr2", "r4", "r5"], fill_value=999)
print('\n df3=df.reindex(["r1", "rr2", "rr2", "r4", "r5"], fill_value=999)\n')
print(df3)

df4=df.reindex(["r1", "r5"], fill_value=999)
print('\n df4=df.reindex(["r1", "r5"], fill_value=999) \n')
print(df4)

    A  B  C   D
r1  1  3  2   4
r2  5  2  2   3
r3  3  4  7   6
r4  4  3  3  12
r5  2  4  4   7

 df2=df.reindex(["r1", "rr2", "rr3", "r4", "r5"])

       A    B    C     D
r1   1.0  3.0  2.0   4.0
rr2  NaN  NaN  NaN   NaN
rr3  NaN  NaN  NaN   NaN
r4   4.0  3.0  3.0  12.0
r5   2.0  4.0  4.0   7.0

 df3=df.reindex(["r1", "rr2", "rr2", "r4", "r5"], fill_value=999)

       A    B    C    D
r1     1    3    2    4
rr2  999  999  999  999
rr2  999  999  999  999
r4     4    3    3   12
r5     2    4    4    7

 df4=df.reindex(["r1", "r5"], fill_value=999)

    A  B  C  D
r1  1  3  2  4
r5  2  4  4  7

**Drop Missing values**

To exclude missing values, we can use **dropna** function

In [ ]:
print('df2 \n')
print(df2)

dfN = df2.dropna()
print('\n \n dfN = df2.dropna()')

print(dfN)

df2

       A    B    C     D
r1   1.0  3.0  2.0   4.0
rr2  NaN  NaN  NaN   NaN
rr3  NaN  NaN  NaN   NaN
r4   4.0  3.0  3.0  12.0
r5   2.0  4.0  4.0   7.0


 dfN = df2.dropna()
      A    B    C     D
r1  1.0  3.0  2.0   4.0
r4  4.0  3.0  3.0  12.0
r5  2.0  4.0  4.0   7.0

*More example*

In [ ]:

df = pd.DataFrame([[91,92,99]], columns= ['A','B','C'], index=['S6'])
df1 = pd.DataFrame([[11,22,19,37]], columns= ['A','B','C','F'], index=['S7'])
df=pd.concat([df,df1])
#df=df.append(df1)
df1 = pd.DataFrame([[3,3,14,35]], columns= ['A','B','C','F'], index=['S8'])
#df=df.append(df1)
df=pd.concat([df,df1])
df1 = pd.DataFrame([[3,14,35]], columns= ['B','C','F'], index=['S9'])
#df=df.append(df1)
df=pd.concat([df,df1])

print(df)
print('df.dropna()')
print(df.dropna())

       A   B   C     F
S6  91.0  92  99   NaN
S7  11.0  22  19  37.0
S8   3.0   3  14  35.0
S9   NaN   3  14  35.0
df.dropna()
       A   B   C     F
S7  11.0  22  19  37.0
S8   3.0   3  14  35.0

**Replace missing or generic values**
One can replace generic vale=ue or missing value with some specific value.
* Done by **fillna()**

In [ ]:
import numpy as np
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                    [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, np.nan],
                    [np.nan, 3, np.nan, 4]],
                   columns=list("ABCD"))
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [ ]:
df.fillna(-10)

      A     B     C     D
0 -10.0   2.0 -10.0   0.0
1   3.0   4.0 -10.0   1.0
2 -10.0 -10.0 -10.0 -10.0
3 -10.0   3.0 -10.0   4.0

In [ ]:
df # Be careful that one need to save it again..

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

**Combining data frames**
--
One can combine two data frames.

* **merge()** combines datasets on common column or index or both
* **concat()** combines datasets accross rows or columns
* **join()** combines datasets on key column or index

**merge()**  is the most flexible of the three operations.

 merge() is most useful when you want to combine rows that share data.

 One can achieve both many-to-one and many-to-many joins with merge().
 * In a many-to-one join, one of your datasets will have many rows in the merge column that repeat the same values. The merge column in the other dataset won't have repeated values.
 * In a many-to-many join, both of your merge columns will have repeated values.

**pd.merge(left, right, how="inner", on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True)**


One need two reguired arguments
* left DataFrame
* right DataFrame

**how**, specifies the kind of merge to make. Default value is *inner*  but other possible options are "outer", "left", and "right"

**on**, indicates columns or indices on whihc join operation will be performed
* By default  if left_index and right_index are false, then columns from two dataFrame that share names will be used as join keys.
* If one uses on, then the specified column or index must be present in both objects

**left_on** and **right_on**, any of two can be used to specify a column or index that is present only in the left or right data frames that are being merged.

**left_index** and **right_index** set as true to use index of left or right data frame to be merged.

![join-types-merge-names.jpg]()

Image from https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shanelynn.ie%2Fmerge-join-dataframes-python-pandas-index-1%2F&psig=AOvVaw1i74_-fB_CjCB34WuQvoqW&ust=1692445617203000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwjnjOWvkeaAAxWocWwGHb3IDpYQjhx6BAgAEA0

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'], 'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'], 'value': [5, 6, 7, 8]})

print(' \n this is df1 \n')
df1

 this is df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [ ]:
print('\n this is df2 \n')
df2

 this is df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [ ]:
print("df1 \n", df1)
print("df2 \n", df2)
print("df1.merge(df2, left_on='lkey', right_on='rkey')")
df1.merge(df2, left_on='lkey', right_on='rkey')

df1
   lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5
df2
   rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  bar        2  bar        6
3  baz        3  baz        7
4  foo        5  foo        5
5  foo        5  foo        8

In [ ]:
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=('_left', '_right'))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  bar           2  bar            6
3  baz           3  baz            7
4  foo           5  foo            5
5  foo           5  foo            8

In [ ]:
print(' Merge DataFrames df1 and df2, but raise an exception if the dataframes have any overlapping columns')
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
# This section should not work and throw and error...

 Merge DataFrames df1 and df2, but raise an exception if the dataframes have any overlapping columns

ValueError: columns overlap but no suffix specified: Index(['value'], dtype='object')

In [ ]:

print('\n df1\n',df1)
print('\n df2\n',df2)
print("\n df1.merge(df2, how='inner', on='value' \n")
df1.merge(df2, how='inner', on='value')

 df1
   lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

 df2
   rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

 df1.merge(df2, how='inner', on='value'

  lkey  value rkey
0  foo      5  foo

In [ ]:

print('\n df1\n',df1)
print('\n df2\n',df2)
print("\n df1.merge(df2, how='inner', on='value' \n")
df1.merge(df2, how='inner')#, on='value')

 df1
   lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

 df2
   rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

 df1.merge(df2, how='inner', on='value'

  lkey  value rkey
0  foo      5  foo

In [ ]:
print('\n df1\n',df1)
print('\n df2\n',df2)
print("\n df1.merge(df2, how='left', on='value' \n")
df1.merge(df2, how='left', on='value')

 df1
   lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

 df2
   rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

 df1.merge(df2, how='left', on='value'

  lkey  value rkey
0  foo      1  NaN
1  bar      2  NaN
2  baz      3  NaN
3  foo      5  foo

In [ ]:
print('\n df1\n',df1)
print('\n df2\n',df2)
print("\n df1.merge(df2, how='right', on='value' \n")
df1.merge(df2, how='right', on='value')

In [ ]:
print('\n df1\n',df1)
print('\n df2\n',df2)
print("\n df1.merge(df2, how='outer', on='value' \n")
df1.merge(df2, how='outer', on='value')

In [ ]:
print('\n df1\n',df1)
print('\n df2\n',df2)
print("\n df1.merge(df2, how='cross', on='value' \n")
df1.merge(df2, how='cross')#, on='value')

Joining DataFrame
--
**join()** function is used for combining the columsn of two potentially  differently indexes DataFrames into a single result DataFrame.

In [ ]:
#Dictionary 1 containing name and Marks
data1 = {'Name': ['A','B','C','D','E','F','G'], 'Marks':['81','82','83','84','85','86','87']}
#Dictionary 2 containing Course taken and salary
data2 = {'Course': ['aA','bB','cC','dD','eE','fF'], 'Salary':['1000081','1000082','1000083','1000084','1000085','1000086']}

print(data1)
#COnvert dicionary into dataframes
df1 = pd.DataFrame(data1)
print(' df1 is below')
print(df1)
df2 = pd.DataFrame(data2)
print(' df2 is below')
print(df2)

print('Now using the join as df1.join(df2)')
df1.join(df2)

{'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G'], 'Marks': ['81', '82', '83', '84', '85', '86', '87']}
 df1 is below
  Name Marks
0    A    81
1    B    82
2    C    83
3    D    84
4    E    85
5    F    86
6    G    87
 df2 is below
  Course   Salary
0     aA  1000081
1     bB  1000082
2     cC  1000083
3     dD  1000084
4     eE  1000085
5     fF  1000086
Now using the join as df1.join(df2)

  Name Marks Course   Salary
0    A    81     aA  1000081
1    B    82     bB  1000082
2    C    83     cC  1000083
3    D    84     dD  1000084
4    E    85     eE  1000085
5    F    86     fF  1000086
6    G    87    NaN      NaN

One can use the on arugment in **join()** function

* Value of on argument can be a single column or multiple column.

* These column(s) specify that the passed DataFrame must be joined on that column in the DataFrame

In [ ]:
# Dictionary

data1 = {'Student Id': ['s2001', 's2002', 's2003', 's2004', 's2005', 's2006'],
        'Name':['A','B','C','D','E','F'],
        'Marks':['81', '82','83','84','85','86'] }
data2 ={'Sports' : ['mB','mC','mD','mF'],
        'Awarded':['Gold','Silver','Bronze','Silver']}


df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2, index=['s2002','s2003','s2004','s2006'])
print(df1)
print(df2)

  Student Id Name Marks
0      s2001    A    81
1      s2002    B    82
2      s2003    C    83
3      s2004    D    84
4      s2005    E    85
5      s2006    F    86
      Sports Awarded
s2002     mB    Gold
s2003     mC  Silver
s2004     mD  Bronze
s2006     mF  Silver

In [ ]:
res = df1.join(df2, on="Student Id")
print(res)

  Student Id Name Marks Sports Awarded
0      s2001    A    81    NaN     NaN
1      s2002    B    82     mB    Gold
2      s2003    C    83     mC  Silver
3      s2004    D    84     mD  Bronze
4      s2005    E    85    NaN     NaN
5      s2006    F    86     mF  Silver

Concatenating data frames
--


Once can concatenate two or more data frames using the **concat()** function.

**pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False)**

join is inner or outer

ignore_index if true then index values are not used on the concatenation axis.

join_axes is list of index object

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'], 'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'], 'value': [5, 6, 7, 8]})
df = pd.concat([df1,df2])
print(df1)
print(df2)
print('df = pd.concat([df1,df2])')
print(df)

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5
  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8
df = pd.concat([df1,df2])
  lkey  value rkey
0  foo      1  NaN
1  bar      2  NaN
2  baz      3  NaN
3  foo      5  NaN
0  NaN      5  foo
1  NaN      6  bar
2  NaN      7  baz
3  NaN      8  foo

In [ ]:
df = pd.concat([df1,df2],ignore_index=True)
print(df1)
print(df2)
print('df = pd.concat([df1,df2], ignore_index=True)')
print(df)

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5
  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8
df = pd.concat([df1,df2], ignore_index=True)
  lkey  value rkey
0  foo      1  NaN
1  bar      2  NaN
2  baz      3  NaN
3  foo      5  NaN
4  NaN      5  foo
5  NaN      6  bar
6  NaN      7  baz
7  NaN      8  foo

In [ ]:
df = pd.concat([df1,df2],keys=["df1","df2"])
print(df1)
print(df2)
print('df = pd.concat([df1,df2],keys=["df1","df2"]')
print(df)

In [ ]:
df = pd.concat([df1,df2],keys=["df1","df2"],names=['df name', 'Row ID'])
print(df1)
print(df2)
print('df = pd.concat([df1,df2],keys=["df1","df2"]')
print(df)

In [ ]:
df = pd.concat([df1,df2],axis=1)
print(df1)
print(df2)
print('df = pd.concat([df1,df2],axis=1')
print(df)

In [ ]:
df = pd.concat([df1,df2],join="outer")

print(df1)
print(df2)
print('df = pd.concat([df1,df2],join="outer"')
print(df)

In [ ]:
df = pd.concat([df1,df2],join="inner")

print(df1)
print(df2)
print('df = pd.concat([df1,df2],join="inner"')
print(df)

**append()** has now deprecated

In [ ]:
df = df1.append(df2)

print(df1)
print(df2)
print('df = pd.concat([df1,df2],join="inner"')
print(df)

AttributeError: 'DataFrame' object has no attribute 'append'

**combine_first()**

Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.

The row and column indexes of the resulting DataFrame will be the union of the two.

The resulting dataframe contains the â€˜firstâ€™ dataframe values and overrides the second one values where both *first.loc[index, col]* and *second.loc[index, col]* are not missing values, upon calling *first.combine_first(second)*.

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': [None, 0], 'B': [None, 4]})
df2 = pd.DataFrame({'A': [1, 2], 'B': [3, 5]})
print(df1)
print(df2)
df1.combine_first(df2)

In [ ]:
df2 = pd.DataFrame({'A': [None, 0], 'B': [None, 4]})
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 5]})
print(df1)
print(df2)
df1.combine_first(df2)

In [ ]:
df1 = pd.DataFrame({'A': [None, 0], 'B': [4, None]})

df2 = pd.DataFrame({'B': [3, 5], 'C': [1, 2]}, index=[1, 2])
print(df1)
print(df2)
df1.combine_first(df2)

Descriptive Statistics
--
Descriptive statistics include those that summarize the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values.

Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.
* The output will vary depending on what is provided.

Function       :      Description
--
* count() : Number of non-null obvservations
* sum() : Sum of values
* mean(): Mean of Values
* median() : Median of values
* mode() : Mode of values
* std() : Standard deviation of values
* min() : Minimum value
* max() : Maximum value
* abs() : Absolute value
* prod() : Product of values
* cumsum() : Cumulative Sum
* cumprod() : Cumulative product

In [ ]:
d = {'Name':pd.Series(['Tom','Jerry','Flinstone','RoadRunner','DuckTales','G.I.Joe','TaleSpin',
   'Dexter','Powerpuff','Captain Vyom','Banana','Garfield']),
   'Cost':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)
print('df.sum()')
print(df.sum())

print("*"*30)
print('df.sum(axis=1, numeric_only=True')
print(df.sum(axis=1, numeric_only=True))

            Name  Cost  Rating
0            Tom    25    4.23
1          Jerry    26    3.24
2      Flinstone    25    3.98
3     RoadRunner    23    2.56
4      DuckTales    30    3.20
5        G.I.Joe    29    4.60
6       TaleSpin    23    3.80
7         Dexter    34    3.78
8      Powerpuff    40    2.98
9   Captain Vyom    30    4.80
10        Banana    51    4.10
11      Garfield    46    3.65
df.sum()
Name      TomJerryFlinstoneRoadRunnerDuckTalesG.I.JoeTal...
Cost                                                    382
Rating                                                44.92
dtype: object
******************************
df.sum(axis=1, numeric_only=True
0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [ ]:
print('df.mean()')
print(df.mean(numeric_only=True))

df.mean()
Cost      31.833333
Rating     3.743333
dtype: float64

In [ ]:
print('df.std()')
print(df.std(numeric_only=True))
print('df.std(1)')
print(df.std(axis=1, numeric_only=True))

df.std()
Cost      9.232682
Rating    0.661628
dtype: float64
df.std(1)
0     14.686608
1     16.093750
2     14.863385
3     14.453263
4     18.950462
5     17.253405
6     13.576450
7     21.368767
8     26.177093
9     17.819091
10    33.163308
11    29.945972
dtype: float64

Describing the data

In [ ]:
df.describe()

            Cost     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [ ]:
df.describe(include='all')

       Name       Cost     Rating
count    12  12.000000  12.000000
unique   12        NaN        NaN
top     Tom        NaN        NaN
freq      1        NaN        NaN
mean    NaN  31.833333   3.743333
std     NaN   9.232682   0.661628
min     NaN  23.000000   2.560000
25%     NaN  25.000000   3.230000
50%     NaN  29.500000   3.790000
75%     NaN  35.500000   4.132500
max     NaN  51.000000   4.800000

In [ ]:
df.corr(numeric_only=True)

Function application
--

While coding, one might have to apply functions to Pandas objects.

Pandas provide
* **pipe()** method applies function on Table
* **apply()** method applies function row or column
* **applymap()** applies dunction to each elements

In [ ]:
import pandas as pd
def madd(num1, num2):
  return num1+num2

def mmul(num1,num2):
  return num1*num2

d = {
   'Cost':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}


#Create a DataFrame
df = pd.DataFrame(d)
print(df)
print('df.pipe(madd,2200)')
df.pipe(madd,2200)

    Cost  Rating
0     25    4.23
1     26    3.24
2     25    3.98
3     23    2.56
4     30    3.20
5     29    4.60
6     23    3.80
7     34    3.78
8     40    2.98
9     30    4.80
10    51    4.10
11    46    3.65
df.pipe(madd,2200)

    Cost   Rating
0   2225  2204.23
1   2226  2203.24
2   2225  2203.98
3   2223  2202.56
4   2230  2203.20
5   2229  2204.60
6   2223  2203.80
7   2234  2203.78
8   2240  2202.98
9   2230  2204.80
10  2251  2204.10
11  2246  2203.65

If one has to apply mutiple functions

In [ ]:
print('df.pipe(madd,3000).pipe(mmul,10)')
df.pipe(madd,3000).pipe(mmul,10)

df.pipe(madd,3000).pipe(mmul,10)

     Cost   Rating
0   30250  30042.3
1   30260  30032.4
2   30250  30039.8
3   30230  30025.6
4   30300  30032.0
5   30290  30046.0
6   30230  30038.0
7   30340  30037.8
8   30400  30029.8
9   30300  30048.0
10  30510  30041.0
11  30460  30036.5

**apply()** Apply a function along input axis of DataFrame.

In [ ]:
import numpy as np

d = {
   'Cost':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}


#Create a DataFrame
df = pd.DataFrame(d)
print(df)
print('df.apply(np.sqrt)')
df.apply(np.sqrt)

    Cost  Rating
0     25    4.23
1     26    3.24
2     25    3.98
3     23    2.56
4     30    3.20
5     29    4.60
6     23    3.80
7     34    3.78
8     40    2.98
9     30    4.80
10    51    4.10
11    46    3.65
df.apply(np.sqrt)

        Cost    Rating
0   5.000000  2.056696
1   5.099020  1.800000
2   5.000000  1.994994
3   4.795832  1.600000
4   5.477226  1.788854
5   5.385165  2.144761
6   4.795832  1.949359
7   5.830952  1.944222
8   6.324555  1.726268
9   5.477226  2.190890
10  7.141428  2.024846
11  6.782330  1.910497

In [ ]:

print(df)
print('df.apply(np.sum, axis=0)')
df.apply(np.sum, axis=0)

    Cost  Rating
0     25    4.23
1     26    3.24
2     25    3.98
3     23    2.56
4     30    3.20
5     29    4.60
6     23    3.80
7     34    3.78
8     40    2.98
9     30    4.80
10    51    4.10
11    46    3.65
df.apply(np.sum, axis=0)

Cost      382.00
Rating     44.92
dtype: float64

In [ ]:
print(df)
print('df.apply(np.sum, axis=1)')
df.apply(np.sum, axis=1)

    Cost  Rating
0     25    4.23
1     26    3.24
2     25    3.98
3     23    2.56
4     30    3.20
5     29    4.60
6     23    3.80
7     34    3.78
8     40    2.98
9     30    4.80
10    51    4.10
11    46    3.65
df.apply(np.sum, axis=1)

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

**applymap()** Apply a function to a Dataframe elementwise.

This method applies a function that accepts and returns a scalar to every element of a DataFrame.

In [ ]:
df = pd.DataFrame([[21, 32], [42, 12]])
df

In [ ]:
df.applymap(lambda x: x**2)

One can also use **transform()**

In [ ]:
# Creating the DataFrame
df = pd.DataFrame({"a":[21, 43, 521, None, 11],
                   "b":[5, 4, 34, 33, None],
                   "c":[10, 4, 11, 34, 45],
                   "d":[54, 34, None, 41, 12]})

index = ['r_1', 'r_2', 'r_3', 'r_4', 'r_5']

# Set the index
df.index = index

# Print the DataFrame
print(df)
print('df.transform(func = lambda x : x + 10)')
df.transform(func = lambda x : x + 10)

         a     b   c     d
r_1   21.0   5.0  10  54.0
r_2   43.0   4.0   4  34.0
r_3  521.0  34.0  11   NaN
r_4    NaN  33.0  34  41.0
r_5   11.0   NaN  45  12.0
df.transform(func = lambda x : x + 10)

         a     b   c     d
r_1   31.0  15.0  20  64.0
r_2   53.0  14.0  14  44.0
r_3  531.0  44.0  21   NaN
r_4    NaN  43.0  44  51.0
r_5   21.0   NaN  55  22.0

In [ ]:
df.transform(func = ['sqrt', 'exp'])

/usr/local/lib/python3.11/dist-packages/pandas/core/nanops.py:1016: RuntimeWarning: overflow encountered in square
  sqr = _ensure_numeric((avg - values) ** 2)

             a                        b                       c                \
          sqrt            exp      sqrt           exp      sqrt           exp
r_1   4.582576   1.318816e+09  2.236068  1.484132e+02  3.162278  2.202647e+04
r_2   6.557439   4.727839e+18  2.000000  5.459815e+01  2.000000  5.459815e+01
r_3  22.825424  1.851080e+226  5.830952  5.834617e+14  3.316625  5.987414e+04
r_4        NaN            NaN  5.744563  2.146436e+14  5.830952  5.834617e+14
r_5   3.316625   5.987414e+04       NaN           NaN  6.708204  3.493427e+19

            d
         sqrt           exp
r_1  7.348469  2.830753e+23
r_2  5.830952  5.834617e+14
r_3       NaN           NaN
r_4  6.403124  6.398435e+17
r_5  3.464102  1.627548e+05

Reindexing
--
used to change the index of rows and columns of a data frame

In [ ]:

col=['c1','c2','c3','c4','c5','c6']
row=['r1','r2','r3','r4','r5','r6']
val=np.random.rand(6,6)*100
df = pd.DataFrame(val, index=row,columns=col )
df

           c1         c2         c3         c4         c5         c6
r1  61.464487  81.608930  90.495372  82.269117  74.893213  47.799781
r2  47.431401  99.728749  97.741595  78.829738  59.032868  66.391261
r3  96.943573  92.190982  71.481159  50.150097  50.363389  17.472677
r4  78.412456  45.439363  37.353199  50.716395  24.772528  78.884658
r5  76.318311  30.148661  31.378486  68.481909  97.434332  55.516264
r6  82.731489  53.972722  46.532265  95.894968  81.774423  37.989452

In [ ]:
print(' Data reindex ', )
df.reindex(['r4','r5','r1','r2','r3'])

In [ ]:
print(df)
print(' Data reindex ', )
df.reindex(['r4','R5','r1','R2','r3'])

In [ ]:
print(df)
print(' Data reindex ', )
df.reindex(['c4','c5','c1','c2','c3'],axis=1)

In [ ]:
print(df)
print(' Data reindex ', )
df.reindex(['A','c5','B','c2','c3'],axis=1)

In [ ]:
ndf=df.reindex(['r1','r2','B','r3','r4'])
print(ndf)
ndf.fillna(method='pad')

For each column, take the last non-missing value above a cell and copy it downward until you hit a new non-missing value (or the end).

It works row by row from top to bottom.

Time series data structures
--
Pandas provide support to time series data structures to add more power to its functionality.
* while working with time series data, one can generate sequence of time and convert the time series to different frequencies.


**to_datetime()** function is used to create *TimeStamps* from strinfs in a wide variety of  date/time formats

In [ ]:
pd.to_datetime('2024-08-19 05:26 PM')

Timestamp('2024-08-19 17:26:00')

In [ ]:
pd.to_datetime('2024/08/19')

Timestamp('2024-08-19 00:00:00')

In [ ]:
pd.to_datetime('2024/14/08')

In [ ]:
daTE= pd.to_datetime('2024-08-19 05:26:34 AM')
print('DATE  ', daTE.day)
print('MONTH ', daTE.month)
print('YEAR ', daTE.year)

In [ ]:
print(pd.datetime.now()) #ALREADY be depreciateD

AttributeError: module 'pandas' has no attribute 'datetime'

In [ ]:
da = pd.to_datetime(['2023/08/19','2023/08/09','2023/09/19', None])
print(da)

DatetimeIndex(['2023-08-19', '2023-08-09', '2023-09-19', 'NaT'], dtype='datetime64[ns]', freq=None)

NaT is Not a Time
--

python alsi has native datetime and dateutil

Numpy has datetime64

Indexing by time
--

Pandas time series can be used to index data by timestamps.
This allows one to use special date-only indexing operations.
* one can use year, month to obtain a slice of all data from the mentioned duration.

In [ ]:
import pandas as pd
import numpy as np
dates = pd.DatetimeIndex(['2020-01-26','2021-01-26','2022-01-26','2023-01-26'])
chiefGuest= pd.Series(['Jair Bolsonaro','No one due to COVID', 'No one due to COVID','Abdel Fattah el-Sisi' ], index=dates)
print(chiefGuest)

print(chiefGuest['2020'])

2020-01-26          Jair Bolsonaro
2021-01-26     No one due to COVID
2022-01-26     No one due to COVID
2023-01-26    Abdel Fattah el-Sisi
dtype: object
2020-01-26    Jair Bolsonaro
dtype: object

In [ ]:
dates=pd.DatetimeIndex(['2021-01-10','2021-03-11','2021-06-12', '2021-09-13','2021-12-14',
                       '2022-01-10','2022-03-11','2022-06-12', '2022-09-13','2022-12-14',
                       '2023-01-10','2023-03-11','2023-06-12', '2023-09-13','2023-12-14',
                       '2024-01-10','2024-03-11','2024-06-12', '2024-09-13','2024-12-14'])

expense=pd.Series(['20210110','20210311','20210612', '20210913','20211214',
       '20220110','20220311','20220612', '20220913','20221214',
       '20230110','20230311','20230612', '20230913','20231214',
       '20240110','20240311','20240612', '20240913','20241214'],index=dates)

print(expense)

print('Now choose expenses for 2022')
print(expense['2022'])

2021-01-10    20210110
2021-03-11    20210311
2021-06-12    20210612
2021-09-13    20210913
2021-12-14    20211214
2022-01-10    20220110
2022-03-11    20220311
2022-06-12    20220612
2022-09-13    20220913
2022-12-14    20221214
2023-01-10    20230110
2023-03-11    20230311
2023-06-12    20230612
2023-09-13    20230913
2023-12-14    20231214
2024-01-10    20240110
2024-03-11    20240311
2024-06-12    20240612
2024-09-13    20240913
2024-12-14    20241214
dtype: object
Now choose expenses for 2022
2022-01-10    20220110
2022-03-11    20220311
2022-06-12    20220612
2022-09-13    20220913
2022-12-14    20221214
dtype: object

This will motivate you for using timeseries in Pandas.

[Please look into the Pandas tutorial on timeseries](https://pandas.pydata.org/docs/user_guide/timeseries.html)

Now we will end the Pandas here and go to the Data Visualization
--